@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quattrocento&family=Shrikhand&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #f2e9e1;
  font-family: 'Quattrocento', sans-serif;
}

body {
  overflow: auto;
  padding-top: 80px;
}

